@import "styles/envars.scss";

$container-margin: 8px;
$button-margin: $container-margin / 2;

.container {
  display: flex;
  flex: 1;
  background: $secondary;
  color: white;
  font-size: 1.25rem;
  justify-content: space-between;
}

.container a {
  align-self: center;
  justify-self: center;
}

.container ul {
  list-style-type: none;
  padding: 0;
}

.container ul li {
  display: flex;
}

.left {
  display: flex;
  margin: $container-margin 0 $container-margin $button-margin;
}

.left li {
  margin-left: $button-margin;
  padding-right: $button-margin;
  border-right: 1px solid $secondary-light;
}

.left li:last-child {
  border-right: none;
}

.search {
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: none;
  margin-right: 4px;
}

.searchBar {
  border: none;
  padding: 4px;
}

.right {
  display: flex;
  margin: $container-margin $container-margin $container-margin 0;
}

.right div {
  margin-right: $button-margin;
  cursor: pointer;
}
